* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

#house {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    min-height: 100vh;
    width: 100%;
    object-fit: contain;
    margin: 0;
}

#addUser {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

#success {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    color: green;
    border: green 3px solid;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#room_bg {
    z-index: -100;
}

#light_bg {
    z-index: -99;
}

.bg {
    height: 100%;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    
    object-fit: contain;
    position: absolute;
}

.inline>* {
    display: inline-block;
}

#box {
    display: block;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 13%;
    bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#fan {
    display: block;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    position: absolute;
    top: 1%;
    left: 40%;
}

#exit {
    top: 20px;
    left: 15%;
    position: absolute;
    display: block;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px black;
    transition-duration: 0.2s;
}

#exit:hover {
    background: rgba(255, 255, 255, 0.5);
}

.speed1 {
    animation: rotation 1s infinite linear;
}

.speed2 {
    animation: rotation 0.8s infinite linear;
}

.speed3 {
    animation: rotation 0.6s infinite linear;
}

.speed4 {
    animation: rotation 0.4s infinite linear;
}

.speed5 {
    animation: rotation 0.2s infinite linear;
}

#loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#loading p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}
