* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #222;
}

#house {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    height: 100vh;
    max-width: 100%;
    object-fit: contain;
    margin: 0;
}

#room_bg {
    z-index: -99;
    height: 100%;
}

.inline>* {
    display: inline-block;
}

#box {
    display: block;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#fan {
    display: block;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    position: absolute;
    top: 5px;
    left: 40%;
}

#light {
    width: 250px;
    height: 350px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#exit {
    top: 20px;
    left: 20px;
    position: absolute;
    display: block;
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px black;
    transition-duration: 0.2s;
}

#exit:hover {
    background: rgba(255, 255, 255, 0.5);
}

.speed1 {
    animation: rotation 1s infinite linear;
}

.speed2 {
    animation: rotation 0.7s infinite linear;
}

.speed3 {
    animation: rotation 0.5s infinite linear;
}

.speed4 {
    animation: rotation 0.3s infinite linear;
}

.speed5 {
    animation: rotation 0.1s infinite linear;
}

.light0 {
    background-color: #5C5905;
}

.light1 {
    background-color: #7A7606;
}

.light2 {
    background-color: #A6A008;
}

.light3 {
    background-color: #BAB309;
}

.light4 {
    background-color: #DED60B;
}

.light5 {
    background-color: #FFF60D;
}

#loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#loading p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}